/* :root {
  --main-bg-color: #101924;
  --text-color: #8094ae;
  --text-hover-color: #816bff;
}

.dashboard__sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border-right: 1px solid var(--text-color);
}
.dashboard__sidebar__header {
  display: flex;
  align-items: center;
}
.dashboard__sidebar__header,
.dashboard__sidebar__body__dropdown,
.dashboard__sidebar__body__link {
  padding: 1em 2em;
  margin-left: 10px;
  min-height: 56px;
  cursor: pointer;
}

.dashboard__sidebar__body__dropdown__title {
  display: flex;
  align-items: center;
}

.dashboard__sidebar__body__dropdown__links {
  list-style: none;
  margin: 1em 0 0 10px;
}
.dashboard__sidebar__body__dropdown__links li a,
.dashboard__sidebar__body__title {
  text-decoration: none;
  color: var(--text-color);
}

.dashboard__sidebar__body__dropdown__links li a:hover,
.dashboard__sidebar__body__title:hover {
  color: var(--text-hover-color);
}

.dashboard__body {
  height: calc(100vh - 56px);
  margin-left: 250px;
  margin-top: 56px;
  padding: 2em;
  background-color: #0d141d;
  color: #fff;
}

.dashboard__body__content {
  background-color: #141c26;
  color: var(--text-color);
  padding: 1em 2em;
  margin-top: 2em;
}

.dashboard__body__content__table {
  width: 100%;
}

td,
th {
  padding: 10px;
  border-bottom: 1px solid;
}

.dashboard__header {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 250px;
  min-height: 56px;
  border-bottom: 1px solid var(--text-color);
} */
